:root {
    --green: #1DB954;
}

.active {
    background-color: var(--green) !important;
    border-color: var(--green) !important;
    color: white !important;
}

.active:hover {
    color: white !important;
}