.music-item {
    background-color: var(--green) !important;
    color: white !important;
}

.music-item:hover {
    color: white !important;
}

.music-link-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px !important;
}

.music-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info-box {
    background-color: white;
    color: var(--green) !important;
    width: fit-content !important;
    block-size: fit-content !important;
    max-width: 300px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}